<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block titulo %}Biblioteca{% endblock %}</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <header class="topo">
    <h1>📚 Biblioteca</h1>
    <nav>
      <a href="/livros">Início</a>
      <a href="/livros/novo">+ Novo livro</a>
    </nav>
  </header>

  <main class="container">
    {% block conteudo %}{% endblock %}
  </main>
</body>
</html>